<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="PresPio.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <PresPio.Properties.Settings>
            <setting name="PColor1" serializeAs="String">
                <value>ButtonFace</value>
            </setting>
            <setting name="PicPath" serializeAs="String">
                <value />
            </setting>
            <setting name="ImgPath" serializeAs="String">
                <value />
            </setting>
            <setting name="Publish_Chek1" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Publish_Chek2" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Publish_Chek3" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Publish_Chek4" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Publish_Chek5" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Publish_Chek6" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Publish_Chek7" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Publish_Chek8" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Publish_URL" serializeAs="String">
                <value />
            </setting>
            <setting name="Replace" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="GradeColorN" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="Pla_N1" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Pla_N2" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Pla_N3" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Pla_N4" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Pla_size" serializeAs="String">
                <value>12</value>
            </setting>
            <setting name="Uni_C1" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Uni_C2" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Uni_C3" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Uni_C4" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Uni_C5" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Uni_C6" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Uni_C7" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Uni_C8" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Uni_T1" serializeAs="String">
                <value>图表</value>
            </setting>
            <setting name="Uni_T2" serializeAs="String">
                <value>图片</value>
            </setting>
            <setting name="Uni_T3" serializeAs="String">
                <value>媒体</value>
            </setting>
            <setting name="Uni_T4" serializeAs="String">
                <value>表格</value>
            </setting>
            <setting name="Uni_T5" serializeAs="String">
                <value>文本</value>
            </setting>
            <setting name="Uni_T6" serializeAs="String">
                <value>线条</value>
            </setting>
            <setting name="Uni_T7" serializeAs="String">
                <value>形状</value>
            </setting>
            <setting name="Uni_T8" serializeAs="String">
                <value>组合</value>
            </setting>
            <setting name="Podpath" serializeAs="String">
                <value />
            </setting>
            <setting name="PodNstr" serializeAs="String">
                <value />
            </setting>
            <setting name="PodOstr" serializeAs="String">
                <value />
            </setting>
            <setting name="Temp_Path" serializeAs="String">
                <value />
            </setting>
            <setting name="Shape_Style" serializeAs="String">
                <value>msoShapeRectangle</value>
            </setting>
            <setting name="Shape_Tra" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="Shape_Color" serializeAs="String">
                <value>Red</value>
            </setting>
            <setting name="WaterText" serializeAs="String">
                <value>样稿水印</value>
            </setting>
            <setting name="WaterSize" serializeAs="String">
                <value>18</value>
            </setting>
            <setting name="WaterColumn" serializeAs="String">
                <value>6</value>
            </setting>
            <setting name="WaterRow" serializeAs="String">
                <value>6</value>
            </setting>
            <setting name="WaterFont" serializeAs="String">
                <value>微软雅黑</value>
            </setting>
            <setting name="WaterColor" serializeAs="String">
                <value>Gray</value>
            </setting>
            <setting name="Group2" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Group3" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Group4" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Group5" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Group6" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Group7" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="GlowNum" serializeAs="String">
                <value>6</value>
            </setting>
            <setting name="GlowTra" serializeAs="String">
                <value>80</value>
            </setting>
            <setting name="GlowColor" serializeAs="String">
                <value>224, 224, 224</value>
            </setting>
            <setting name="ShodwColor" serializeAs="String">
                <value>224, 224, 224</value>
            </setting>
            <setting name="ShodwTra" serializeAs="String">
                <value>85</value>
            </setting>
            <setting name="ShodwSize" serializeAs="String">
                <value>102</value>
            </setting>
            <setting name="ShodwBlur" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="ShodwX" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ShodwY" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ShodwCheck" serializeAs="String">
                <value>msoFalse</value>
            </setting>
            <setting name="Grastep" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="Gragra" serializeAs="String">
                <value>60</value>
            </setting>
            <setting name="Gracolor" serializeAs="String">
                <value>15</value>
            </setting>
            <setting name="MockFile" serializeAs="String">
                <value />
            </setting>
            <setting name="Pa_Spaced" serializeAs="String">
                <value>1.5</value>
            </setting>
            <setting name="TextBoxAuto" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="PPtDPI" serializeAs="String">
                <value>300</value>
            </setting>
            <setting name="WaterFonts" serializeAs="String">
                <value>Regular</value>
            </setting>
            <setting name="iconColor" serializeAs="String">
                <value>196, 62, 28</value>
            </setting>
            <setting name="MockupUrl" serializeAs="String">
                <value />
            </setting>
            <setting name="exportFolderPath" serializeAs="String">
                <value />
            </setting>
            <setting name="WaterRotation" serializeAs="String">
                <value>45</value>
            </setting>
            <setting name="WaterOpacity" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="ApplyToMaster" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AutoSize" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AllowEdit" serializeAs="String">
                <value>False</value>
            </setting>
        </PresPio.Properties.Settings>
    </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="SkiaSharp" publicKeyToken="0738eb9f132ed756" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.88.0.0" newVersion="2.88.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.2" newVersion="4.0.1.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Text.Encoding.CodePages" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="ICSharpCode.SharpZipLib" publicKeyToken="1b03e6acf1164f73" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.4.1.12" newVersion="1.4.1.12" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.1" newVersion="4.2.0.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="AngleSharp" publicKeyToken="e83494dcdc6d31ea" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-0.16.1.0" newVersion="0.16.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Fizzler" publicKeyToken="4ebff4844e382110" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.3.0.0" newVersion="1.3.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Bcl.AsyncInterfaces" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="ExCSS" publicKeyToken="bdbe16be9b936b9a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.6.0" newVersion="4.2.6.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Primitives" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.DependencyInjection.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Options" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Http" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Diagnostics.DiagnosticSource" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.2" newVersion="7.0.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Text.Json" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Configuration.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.FileProviders.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.AspNetCore.Http.Features" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Text.Encodings.Web" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.IO.Pipelines" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.serviceModel>
    <bindings />
    <client />
  </system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" /></startup></configuration>
